/* -----------Navigation--------- */
/* Section 1 Hero page */
.row.row1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: auto;
}
#head1{
    Width:450px;
    height: 28vh;    
    font-family: 'Limelight';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 70px;
    color: #303134;
    margin: 140px 50px;
}
.pg{
    width: 550px;  
    height: 15vh;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 50px;
}
#btnhero{
    margin: 0 50px;
}
#imgg{
    margin:0;
    width: 680px;
    height: 95vh;    
    top: 26px;
    position: absolute;
    right: 0px;
}
#hero1{
    flex-basis: 60%;
    margin-bottom: 150px;
}
#hero2{
    flex-basis: 37%;
}
/* Card___Section 2*/
.see{
    position: absolute;
    right: 57px;
    top: 172px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 28px;
    line-height: 34px;
    color: #264DB1;
    text-decoration: none;
}
.grid--4 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}
.grid__item {
    flex-basis: 29%;
    margin-bottom: 16px;
}
.grid__item {
    flex-basis: (125% - 110px);
    margin-left: 42px;
    margin-bottom: 16px;
}
.stock{
    position: absolute;
    left: 40px;
    top: 140px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 90px;
}
.btn{
    border: 1px solid #D5D3D3;
    border-radius: 30px;
    padding: 14px 28px;
    gap: 14px;
    color: #264DB1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.btn.btn1{
    background: #264DB1;
    border-radius: 30px;    
    padding: 14px 28px;
    gap: 14px;  
    color: #FFFEFE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.forbtn{
    margin-left: 115px;

}
/* ------------Section 3 blog---------- */
.row{
    margin: 204px 0;
}
.row .pi{
    color:  #264DB1;
}
.row h1{
    color:#D1D7E7;
    font-size: 56px;
    line-height: 90px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
}
.pa{
    color: #D1D7E7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.para{
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;  
    margin: 50px 0;
}
.para p{
    display: flex;
    padding: 0px;
    gap: 16px;      
    margin: 30px 0;
}
.para p i{
    color: #F0DA6D;
}
.btn.btn2{
    background-color:#264DB1;
    color: #D1D7E7;
    border-radius: 30px;
    width: 291px;
    height: 62px;    
    gap: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    border: #264DB1 1px solid;
    justify-content: center;
}
.fa-solid{
    width: 24px;
    height: 20.98px;
    top: 20.51px;
}
#coll{
    margin-left: 40px;
    margin-top: 30px;
}
#img1{
    position: absolute;
    width: 300px;
    height: 450px;
    right: 350px;
    top: 100px;
}
#img2{
    position: absolute;
    width: 280px;
    height: 350px;
    right: 41px;
    top: 100px;
}
#img3{
    position: absolute;
    width: 300px;
    height: 350px;
    right: 350px;
    top: 600px;
}
#img4{
    position: absolute;
    width: 280px;
    height: 450px;
    right: 41px;
    top: 500px;
}

/* ------------contact info section 4---------- */
#coll2 h4{
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 130px;
}
#coll2{
    position: absolute;
    width: 691px;
    height: 595px;
    left: -8px;
    top: 149px;
    background: #264DB1;
}
.para2{
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;  
    margin: 80px 0;
    margin-left: 60px;
}
.para2 p{
    display: flex;
    padding: 0px;
    gap: 16px;      
    margin: 50px 0;
}
.para2 p i{
    color: #F0DA6D;
}
#coll3 h1{
    position: absolute;
    width: 265px;
    height: 90px;
    right: 175px;
    top: 83px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 90px;
    color: #000000;
}
#coll3 p{
    position: absolute;
    width: 265px;
    height: 19px;
    right: 160px;
    top: 170px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.contact-form{
    position: absolute;
    width: 542px;
    height: 466px;
    right: 49px;
    top: 214px;
    background: #F7F7F7;
    padding: 24px;
    gap: 28px;
    border: 4px solid #D7D7D7;
}
.contact-form label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.contact-form input{
    width: 484px;
    height: 44px;
    background: #FFFFFF;
    margin-bottom: 24px;
    border: 0;
    outline: none;
}
.contact-form textarea{
    width: 484px;
    height: 120px;
    background: #FFFFFF;
    border: 0;
    outline: none;
    margin-bottom: 24px;
}
.btn.btn4{
    background: #264DB1;
    border-radius: 30px;
    width: 484px;
    height: 44px;
    color: #FFFFFF;
}
/* ---------------Footer section 5------------- */
.col span{
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: #434751;
}
.pfash{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
    margin-left: 20px;
}
#Ella{
    position: absolute;
    width: 390px;
    height: 136px;
    left: 85px;
    top: 180px;
}
#search-bar{
    position: absolute;
    width: 520px;
    height: 136px;
    left: calc(50% - 520px/2 + 98px);
    top: 180px;
    padding: 0px;

}
#search{
    width: 311px;    
    height: 50px;
    border: 1px solid #D7D7D7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 20px;
    padding:0 20px;
}
#contact{
    position: absolute;
    width: 206px;
    height: 79px;
    right: 73px;
    top: 180px;
}
.btn5{
    width: 171px;
    height: 50px;
    background: #264DB1;
    color: #FFFEFE;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    padding:0 20px;
}
.fa-brands{
    width: 38px;
    height: 29px;
    margin: 20px 0;
    color: #202020;
}
.copyright{
    position: absolute;
    width: 436px;
    height: 20px;
    left: 77px;
    top: 480px;

}
#copy{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #202020;
}
/* -----------css of smaller scream-------------- */
nav .fa-sharp{
    display: none;
}
@media only screen and (max-width: 1010px){
    /*-----------Navgation bar --------- */
    body{
        width: 100%;
    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 56px;
        left: 0px;
        top: 0px;   
    }
    .navbar-brand{
        position: absolute;
        width: 133px;
        height: 39px;
        left: 11px;
        top: 9px;  
    }
    .logo{
        width: 24px;
        height: 24px;
    }
    .Ella{
        font-family: 'Archivo Black';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
        width: 131px;
        height: 13px;
    }
    nav .fa-sharp{
        display: block;
        font-size: 25px;
        margin-right: 5px;
        position: relative;
        width: 50px;
        height: 50px;
    }
    nav ul{
        background-color: #FFFEFE;
       position: fixed;
       top: 0;
       right: -200px;
       width: 200px;
       height: 100vh;
       padding-top: 50px;
       z-index: 2;
       transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav .fa-sharp{
        position: absolute;
        top: 25px;
        cursor: pointer;
        right: 0;
    }
    /* -----------Hero page--------section------- */
    .row1{
        margin-top: 50px;
    }
    #head1{
        font-family: 'Limelight';
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        line-height: 45px;
        width: 450px;
        height: 14vh;
        margin: 85px 0;
    }
    .pg{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        margin-left: 5px;
        width: 100%;
        margin-bottom: 48px;
    }
    #btnhero{
        margin-left: 5px;
    }
    #imgg{
        position: absolute;
        margin:500px 0px;   
        width: 100%;
        height: 60vh;
        width: 430px;
        left: 0px;
    }
     /* Card Section 2  */
    #carrd{
        position: absolute;
        width: 430px;
        height: 1vh;
        left: 0px;
        margin-top: 250px;    
    }
    .stock{
        position: absolute;
        width: 193px;
        height: 90px;
        left: 16px;
    }
    .see{
        display: none;
    }
    #card1{
        position: absolute;
        width: 398px;
        height: 460px;
        left: 16px;
    }
    #card2{
        position: absolute;
        width: 398px;
        height: 465px;
        left: 16px;
        margin-top: 710px;
    }
}
